.header ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

.header li {
  float: left;
}

.header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

.header li a:hover {
  background-color: #111111;
}
.header img{
  width: 42px;
  height: 42px;
}
img{
  width: 100%;
  height:200px;
}
#map{
  margin-left: 70%;

}
#name{
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-size: 20px;
}
#email{
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-size: 20px;
}
#psw{
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-size: 20px;
}
#button{
 background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
.footer{
  background-color: #333333;
  font-size: 18px;
  text-decoration: none;
}
.content{
  display:flex;
  position: relative;
}
#form{
  padding-right: 0px 50px 0px 0px;
  margin:0px 250px 0px -520px;
  font-size:25px;}
h3{
  color: white;
  background-color: black;
  font-size: 26px;
  font-family: calibri;
  border:1px solid; 
}
.footer ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

.footer li {
  float: left;
}

.footer li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

.footer li a:hover {
  background-color: #111111;
}
#address{
  text-align: right;
  font-size: 24px;
  color: white;}
  html{
    margin: auto
    background-color:cyan;
  }